<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/css/adminpanel.css" />
    <link rel="stylesheet" href="/static/css/alert.css" />
    <script src="/static/js/message.js"></script>
    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    rel="stylesheet"
  />

    <title>Admin Dashboard Panel</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% include 'admin/navbar.html' %}

    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        {% comment %} <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here..." />
        </div> {% endcomment %}

        <img src="/static/images/profile.jpg" alt="" />
      </div>

      <div class="dash-content">
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Dashboard</span>
          </div>

          <div class="boxes">
            <div class="box box3">
              <i class="fa-solid fa-calendar-check"></i>
              <span class="text">Total Appointment</span>
              <span class="number">{{bookingCount}}</span>
            </div>
            <div class="box box3">
              <i class="fa-solid fa-user"></i>
              <span class="text">Total users</span>
              <span class="number">{{userCount}}</span>
            </div>
            <div class="box box3">
              <i class="fa-solid fa-user-doctor"></i>
              <span class="text">Total Therapiest</span>
              <span class="number">{{therapist}}</span>
            </div>
            <div class="box box3" style="margin-top: 10px">
              <i class="fa-solid fa-users"></i>
              <span class="text">New Users</span>
              <span class="number">{{user_count_last_7_days}}</span>
            </div>
            <div class="box box3" style="margin-top: 10px">
              <i class="fa-solid fa-calendar-check"></i>
              <span class="text">New Appointment</span>
              <span class="number">{{booking_count_last_7_days}}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        var alert = document.querySelector(".alert");
        if (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 3000);
        }
      });
    </script>
    <script src="/static/js/admin-panel.js"></script>
  </body>
</html>
