<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment Management</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/css/adminpanel.css" />
    <link rel="stylesheet" href="/static/css/alert.css" />
    <script src="/static/js/message.js"></script>
    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <!-- Include navbar.html -->
    {% include 'admin/navbar.html' %}

    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        {% comment %}
        <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here..." />
        </div>
        {% endcomment %}
        <img src="/static/images/profile.jpg" alt="" />
      </div>

      <div class="dash-content p-6">
        <div class="overview">
          <div class="title flex items-center justify-between mb-4">
            <div class="flex items-center">
              <i class="uil uil-tachometer-fast-alt text-2xl"></i>
              <span class="text-2xl ml-2">Appointments</span>
            </div>
          </div>

          <div class="class overflow-scroll">
            <table class="w-full bg-white border border-gray-200">
              <thead>
                <tr>
                  <th class="py-2 px-4 border-b">Therapist</th>
                  <th class="py-2 px-4 border-b">Date</th>
                  <th class="py-2 px-4 border-b">Time</th>
                  <th class="py-2 px-4 border-b">Note</th>
                  <th class="py-2 px-4 border-b">Appointment Type</th>
                  <th class="py-2 px-4 border-b">Paid</th>
                  <th class="py-2 px-4 border-b">Status</th>
                  <th class="py-2 px-4 border-b">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for booking in bookings %}
                <tr>
                  <td class="py-2 px-4 border-b">
                    {{ booking.therapist.name }}
                  </td>
                  <td class="py-2 px-4 border-b">{{ booking.date }}</td>
                  <td class="py-2 px-4 border-b">{{ booking.time }}</td>
                  <td class="py-2 px-4 border-b">{{ booking.note }}</td>
                  <td class="py-2 px-4 border-b">
                    {{ booking.appointmentType }}
                  </td>
                  <td class="py-2 px-4 border-b">
                    {% if booking.isPaid %}
                    <span class="bg-green-500 text-white px-2 py-1 rounded-full"
                      >Yes</span
                    >
                    {% else %}
                    <span class="bg-red-500 text-white px-2 py-1 rounded-full"
                      >No</span
                    >
                    {% endif %}
                  </td>
                  <td class="py-2 px-4 border-b">
                    {% if booking.date > today %}
                    <span
                      class="bg-green-500 text-white px-2 py-1 rounded-full"
                    >
                      Upcoming
                    </span>
                    {% elif booking.date < today %}
                    <span class="bg-red-500 text-white px-2 py-1 rounded-full">
                      Past
                    </span>
                    {% elif booking.date == today %}
                    <span
                      class="bg-yellow-500 text-white px-2 py-1 rounded-full"
                    >
                      Today
                    </span>
                    {% endif %}
                  </td>
                  <td class="py-2 px-4 border-b">
                    <a
                      class="bg-red-500 text-white px-2 py-1 rounded-full"
                      href="{% url 'delete-booking' booking.id %}"
                      >Delete</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- Include admin-panel.js -->
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        var alert = document.querySelector(".alert");
        if (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 3000);
        }
      });
    </script>
    <script src="/static/js/admin-panel.js"></script>
  </body>
</html>
