<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapist Management</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/css/adminpanel.css" />
    <link rel="stylesheet" href="/static/css/alert.css" />
    <script src="/static/js/message.js"></script>
    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <!-- Modal -->
    <div
      id="myModal"
      class="modal fixed inset-0 bg-gray-300 bg-opacity-75 flex items-center justify-center"
    >
      <div class="bg-white p-6 w-1/2">
        <!-- Property Add Form -->
        <form
          id="propertyForm"
          class="grid grid-cols-2 gap-4"
          method="post"
          action="{% url 'admin-edit-therapist' therapist_id=details.id %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="mb-4">
            <label for="propertyName">Name:</label>
            <input
              type="text"
              id="propertyName"
              name="name"
              class="w-full border p-2"
              value="{{details.name}}"
              required
            />
          </div>
          <div class="mb-4">
            <label for="propertyPrice">Price:</label>
            <input
              type="number"
              id="propertyPrice"
              name="price"
              class="w-full border p-2"
              value="{{details.price}}"
              required
            />
          </div>

          <div class="mb-4">
            <label for="phone">Speciality:</label>
            <input
              type="text"
              id="phone"
              name="speciality"
              class="w-full border p-2"
              value="{{details.speciality}}"
              required
            />
          </div>

          <div class="mb-4">
            <label for="propertyDescription">Description:</label>
            <textarea
              id="propertyDescription"
              name="description"
              class="w-full border p-2"
              required
            >
{{details.description}}</textarea
            >
          </div>

          <div class="mb-4">
            <!-- Add a file input for photos -->
            <label for="propertyPhotos">Photos:</label>
            <input
              type="file"
              id="propertyPhotos"
              name="image"
              class="w-full border p-2"
              multiple
            />
          </div>

          <button
            type="submit"
            class="col-span-2 bg-[#F5A58C] text-white px-4 py-2 rounded"
          >
            Edit Therapist
          </button>
          <a
            class="col-span-2 bg-gray-700 text-white text-center px-4 py-2 rounded"
            href="/admin-teams-management"
          >
            Cancel
          </a>
        </form>
      </div>
    </div>

    <script>
      window.addEventListener("DOMContentLoaded", function () {
        var alert = document.querySelector(".alert");
        if (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 3000);
        }
      });
    </script>

    <script>
      document
        .getElementById("propertyPrice")
        .addEventListener("input", function (event) {
          const input = event.target;
          const value = parseFloat(input.value);
          if (isNaN(value) || value <= 0) {
            input.setCustomValidity("Please enter a vaid price");
          } else {
            input.setCustomValidity("");
          }
        });
    </script>
  </body>
</html>
