<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="/static/images/realstate-logo.png" alt="" />
    </div>

    <span class="logo_name">Admin DashBoard</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a href="/admin-page">
          <i class="uil uil-apps"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>

      <li>
        <a href="/admin-property-management">
          <i class="uil uil-home"></i>
          <span class="link-name">Property Management</span>
        </a>
      </li>
      <li>
        <a href="/admin-enquiry-management">
          <i class="uil uil-envelope"></i>
          <span class="link-name">Enquiry Management</span>
        </a>
      </li>
      <li>
        <a href="/admin-agent-management">
          <i class="uil uil-user"></i>
          <span class="link-name">Agent Management</span>
        </a>
      </li>
      <li>
        <a href="/admin-teams-management">
          <i class="uil uil-user"></i>
          <span class="link-name">Teams Management</span>
        </a>
      </li>
      {% comment %} <li>
        <a href="content.html">
          <i class="uil uil-book-open"></i>
          <span class="link-name">Content Management</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-info-circle"></i>
          <span class="link-name">Property Details</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-comment-alt-message"></i>
          <span class="link-name">Enquiries and Messages</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-comments"></i>
          <span class="link-name">Financial Management</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-schedule"></i>
          <span class="link-name">Campaigns</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-comment-alt-download"></i>
          <span class="link-name">Feedback</span>
        </a>
      </li> {% endcomment %}
    </ul>

    <ul class="logout-mode">
      <li>
        <a href="#">
          <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a>
      </li>

      <li class="mode">
        <a href="#">
          <i class="uil uil-moon"></i>
          <span class="link-name">Dark Mode</span>
        </a>

        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>