<nav>
  <div class="logo-name">
      <img src="/static/images/logo.png" alt="" />
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a href="/admin-page">
          <i class="uil uil-apps"></i>
          <span class="link-name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/admin-booking-management">
          <i class="uil uil-envelope"></i>
          <span class="link-name">Appointments</span>
        </a>
      </li>
      <li>
        <a href="/admin-teams-management">
          <i class="uil uil-user"></i>
          <span class="link-name">Therapist</span>
        </a>
      </li>
      <li>
        <a href="/contact-list">
          <i class="uil uil-user"></i>
          <span class="link-name">Contact List</span>
        </a>
      </li>
      {% comment %} <li>
        <a href="content.html">
          <i class="uil uil-book-open"></i>
          <span class="link-name">Content Management</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-info-circle"></i>
          <span class="link-name">Property Details</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-comment-alt-message"></i>
          <span class="link-name">Enquiries and Messages</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-comments"></i>
          <span class="link-name">Financial Management</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-schedule"></i>
          <span class="link-name">Campaigns</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-comment-alt-download"></i>
          <span class="link-name">Feedback</span>
        </a>
      </li> {% endcomment %}
    </ul>

    <ul class="logout-mode">
      <li>
        <a href="#">
          <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a>
      </li>

     
      <li class="mode">
        {% comment %} <a href="#">
          <i class="uil uil-moon"></i>
          <span class="link-name">Dark Mode</span>
        </a> {% endcomment %}

        <div class="mode-toggle">
          {% comment %} <span class="switch"></span> {% endcomment %}
        </div>
      </li>
    </ul>
  </div>
</nav>