<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapist Management</title>
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/css/adminpanel.css" />
    <link rel="stylesheet" href="/static/css/alert.css" />
    <script src="/static/js/message.js"></script>
    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <!-- Include navbar.html -->
    {% include 'admin/navbar.html' %}

    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here..." />
        </div>
        <img src="/static/images/profile.jpg" alt="" />
      </div>

      <div class="dash-content p-6">
        <div class="overview">
          <div class="title flex items-center justify-between mb-4">
            <div class="flex items-center">
              <i class="uil uil-tachometer-fast-alt text-2xl"></i>
              <span class="text-2xl ml-2">Our Therapist</span>
            </div>
            <button
              id="openModal"
              class="bg-[#2d6904] text-white px-4 py-2 rounded"
            >
              Add
            </button>
          </div>
          <div class="overflow-scroll">
            <table class="w-full bg-white border border-gray-200">
              <thead>
                <tr>
                  <th class="py-2 px-4 border-b">ID</th>
                  <th class="py-2 px-4 border-b">Image</th>
                  <th class="py-2 px-4 border-b">Name</th>
                  <th class="py-2 px-4 border-b">Price</th>
                  <th class="py-2 px-4 border-b">Speciality</th>
                  <th class="py-2 px-4 border-b">Description</th>
                  <th class="py-2 px-4 border-b">Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Example row with additional fields -->
                {% for therapist in therapist %}
                <tr>
                  <td class="py-2 px-4 border-b">{{therapist.id}}</td>
                  <td class="py-2 px-4 border-b">
                    {% if therapist.image %}
                    <img
                      src="{{ therapist.image.url }}"
                      alt="Property Image"
                      class="w-8 h-8 mr-2"
                    />
                    {% else %} No Image Available {% endif %}
                  </td>
                  <td class="py-2 px-4 border-b">{{therapist.name}}</td>
                  <td class="py-2 px-4 border-b">{{therapist.price}}</td>
                  <td class="py-2 px-4 border-b">{{therapist.speciality}}</td>
                  <td class="py-2 px-4 border-b">{{therapist.description}}</td>
                  <td class="py-2 px-4 border-b">
                    <a href="/admin-edit-therapist/{{ therapist.id }}">
                      <i
                        id="openEditModal"
                        class="uil uil-edit text-green-500 cursor-pointer hover:text-green-700"
                      ></i>
                    </a>
                    <a
                      href="/admin-delete-therapist/{{ therapist.id }}"
                      type="submit"
                      ><i
                        class="uil uil-trash-alt text-red-500 cursor-pointer hover:text-red-700"
                        data-property-id="{{ therapist.id }}"
                      ></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <div
      id="myModal"
      class="modal hidden fixed inset-0 bg-gray-300 bg-opacity-75 flex items-center justify-center"
    >
      <div class="modal-content bg-white p-6 w-1/2">
        <span id="closeModal" class="close">&times;</span>

        <!-- Property Add Form -->
        <form
          id="propertyForm"
          action="{% url 'admin-teams-management' %}"
          class="grid grid-cols-2 gap-4"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="mb-4">
            <label for="name">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="w-full border p-2"
              required
            />
          </div>

          <div class="mb-4">
            <label for="price">Cost:</label>
            <input
              type="number"
              id="price"
              name="price"
              class="w-full border p-2"
              required
            />
          </div>

          <div class="mb-4">
            <label for="speciality">Speciality:</label>
            <input
              type="text"
              id="speciality"
              name="speciality"
              class="w-full border p-2"
              required
            />
          </div>

          <div class="mb-4">
            <label for="description">Description:</label>
            <textarea
              id="description"
              name="description"
              class="w-full border p-2"
              required
            ></textarea>
          </div>

          <div class="mb-4">
            <!-- Add a file input for photos -->
            <label for="propertyPhotos">Photos:</label>
            <input
              type="file"
              id="propertyPhotos"
              name="image"
              class="w-full border p-2"
            />
          </div>

          <button
            type="submit"
            class="col-span-2 bg-[#2d6904] text-white px-4 py-2 rounded"
          >
            Add Therapist
          </button>
        </form>
      </div>
    </div>

    <script>
      document
        .getElementById("openModal")
        .addEventListener("click", function () {
          document.getElementById("myModal").classList.remove("hidden");
        });

      document
        .getElementById("closeModal")
        .addEventListener("click", function () {
          document.getElementById("myModal").classList.add("hidden");
        });

      // Handle form submission
    </script>

    <!-- Include admin-panel.js -->
    <script src="/static/js/admin-panel.js"></script>
  </body>
</html>
