<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapist Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/alert.css" />
    <style>
      @media screen and (width < 640px) {
        .therapist-details {
          width: 50% !important;
        }
      }
      .therapist-details {
        position: relative;
      }

      .therapist-hover-details {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }

      .therapist-details:hover .therapist-hover-details {
        display: flex;
        flex-direction: column;
        align-items: start;
      }
    </style>
  </head>

  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <!-- main body -->

    {% include 'header.html' %}
    <div class="grid place-items-center">
      <div class="text-center mt-[5vh] pb-10">
        <h1 class="text-black text-4xl font-bold">OUR THERAPISTS</h1>
        <p class="text-center pt-4 text-xs whitespace-pre-line">
          TheraPeace offers access to registered, trained, and experienced
          Practitioner Psychologists, Counsellors, and similar applicable
          recognized professional certifications.
        </p>
      </div>

      <div class="flex flex-wrap justify-evenly">
        {% for therapist in therapist %}
        <div class="w-1/4 flex flex-row flex-wrap therapist-details">
          {% if therapist.image %}
          <img
            src="{{ therapist.image.url }}"
            alt="Property Image"
            class="w-[100%] h-[18rem] mr-2"
          />
          {% else %} No Image Available {% endif %}
          <div class="therapist-hover-details">
            <h2 class="mb-2">{{therapist.name}}</h2>
            <p class="mb-2">{{therapist.speciality}}</p>
            <a
              href="/individual_therapist/{{ therapist.id }}"
              class="mb-2 bg-[#E77450] text-white font-bold py-2 px-4 rounded"
            >
              See Details
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <footer class="bg-[#FBFBFB] dark:bg-[#FBFBFB]">
      <div
        class="mx-auto w-full flex flex-wrap max-w-screen-xl p-4 m-4 py-6 lg:py-8"
      >
        <div class="md:flex md:justify-center w-full lg:w-1/4">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <a href="/" class="flex items-center">
              <img
                src="static/images/logo.png"
                class="h-10 w-[300] me-3"
                alt="FlowBite Logo"
              />
            </a>
            <p
              class="text-white-500 mt-2 dark:text-white-400 text-xs pb-2 whitespace-pre-line"
            >
              A comprehensive list of <strong>THERAPIST</strong> services you
              offer.
            </p>
            <h2>
              <i class="fa-solid fa-location-dot pr-2 text-sm"></i> Kathmandu,
              Nepal
            </h2>
            <h2>
              <i class="fa-solid fa-envelope pr-2 text-sm"></i>
              Therapy@gmail.com
            </h2>
            <h2><i class="fa-solid fa-phone pr-2 text-sm"></i> 9879879876</h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">Services</h1>
            <h2>Online Therapy</h2>
            <h2>Teen Therapy</h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">About</h1>
            <h2><a href="#">Home</a></h2>
            <h2><a href="#">About us</a></h2>
            <h2><a href="#">Our Services</a></h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">Newsletter</h1>
            <h2 class="pb-4">Subscribe</h2>
            <div class="rounded-full bg-gray-200 flex items-center">
              <form class="flex">
                <input
                  type="text"
                  class="rounded-l-full bg-[#DCE8EB] px-2 py-1"
                  placeholder="Enter your mail"
                />
                <button
                  class="rounded-r-full bg-[#FFC979] text-white px-3 py-1"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
        <hr
          class="my-6 border-white-200 sm:mx-auto dark:border-white-700 lg:my-8 w-full"
        />
      </div>
    </footer>
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        var alert = document.querySelector(".alert");
        if (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 3000);
        }
      });
    </script>
  </body>
</html>
