<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapist Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <nav class="bg-white  w-full  top-0 start-0 ">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/static/images/logo.png" class="h-10" alt="">
            </a>
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button"
                    class="text-white bg-[#E77450] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-[#E77450] dark:hover:bg-[#F5A58C] dark:focus:ring-blue-800">Get
                    started</button>
                <button data-collapse-toggle="navbar-sticky" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black-500 rounded-lg md:hidden  focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400  dark:focus:ring-gray-600"
                    aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul
                    class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100  bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:border-black-700">
                    <li>
                        <a href="#" class="block py-2 px-3 text-gray-500 bg-blue-700  md:bg-transparent md:text-black-500 md:p-0 dark:hover:text-gray-300
          md:dark:text-Black-500" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="about" class="block py-2 px-3 text-gray-500   md:hover:text-black-700 md:p-0 md:dark:hover:text-black-500 dark:text-gray 
          dark:hover:bg-black-700 dark:hover:text-gray-300 dark:border-gray-700">About us</a>
                    </li>
                    <li>
                        <a href="services" class="block py-2 px-3 text-gray-500   md:hover:text-black-700 md:p-0 md:dark:hover:text-black-500 dark:text-gray
           dark:hover:bg-black-700 dark:hover:text-gray-300  dark:border-gray-700">Services</a>
                    </li>
                    <li>
                        <a href="contact" class="block py-2 px-3 text-gray-500 md:hover:text-black-700 md:p-0 md:dark:hover:text-black-500 dark:text-gray 
          dark:hover:bg-black-700 dark:hover:text-gray-300  dark:border-gray-700">Contact</a>
                    </li>
                    <li>
                        <a href="faq" class="block py-2 px-3 text-gray-500 md:hover:text-black-700 md:p-0 md:dark:hover:text-black-500 dark:text-gray 
          dark:hover:bg-black-700 dark:hover:text-gray-300  dark:border-gray-700">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="h-[80vh] bg-[#FEF3F1] grid place-items-center">
        <div class="text-center mt-[10vh]">
            <h1 class="text-black text-4xl font-bold">You deserve to be happy</h1>
            <p class="text-center font-semibold pt-4">What type of therapy are you looking for?</p>
        </div>
        <div class="grid grid-cols-3 gap-2 pb-[10vh]">
            <div class="relative border border-black">
                <img src="static/images/Rectangle.png" alt="Image 1" class="w-full h-full object-cover">
                <div class="absolute top-10 left-0 p-2">
                    <p class="text-black-500 font-semibold text-base">Individual</p>
                    <p class="text-black-500 font-semibold text-xs">For myself</p>
                </div>
            </div>

            <div class="relative border border-black">
                <img src="static/images/Rectangle1.png" alt="Image 2" class="w-full h-full object-cover">
                <div class="absolute top-10 left-0 p-2">
                    <p class="text-black-500 font-semibold text-base">Couple</p>
                    <p class="text-black-500 font-semibold text-xs">For me and My Parther</p>
                </div>
            </div>

            <div class="relative border border-black">
                <img src="static/images/Rectangle2.png" alt="Image 3" class="w-full h-full object-cover">
                <div class="absolute top-10 left-0 p-2">
                    <p class="text-black-500 font-semibold text-base">Teens</p>
                    <p class="text-black-500 font-semibold text-xs">For my Child </p>
                </div>
            </div>
        </div>
    </div>
    <div class="h-[70vh] grid place-items-center">
        <div class="text-center mt-[5vh] pb-10">
            <h1 class="text-black text-4xl font-bold whitespace-pre-line p-3
            ">How therapy and 
                psychiatry work together</h1>
            <p class="text-center font-semibold pt-4 text-xs">Therapeace makes both types of mental health care
                convenient and affordable, with no outside referrals required.</p>
        </div>
        <div class="w-3/5 flex justify-center items-stretch">
            <div class="bg-[#E1F0EE] w-2/3 p-3 rounded-lg flex flex-col justify-center ">
                <h2 class="text-center font-bold text-2xl mb-4 mt-10 text-[#305141]">Therapy</h2>
                <div class="w-3/5 mx-auto flex-grow pb-5"> <!-- Adjusted width and added flex-grow -->
                    <p class="text-center text-sm mb-4 text-[#305141]">Depending on your therapy goals, your Talkspace
                        therapist will help you process thoughts and feelings, understand your motivations, develop
                        coping strategies, and more. You’ll connect through live sessions, ongoing messaging, or both.
                    </p>
                    <button class="bg-[#E77450] rounded-full text-white p-2 w-full">Learn more</button>
                    <!-- Adjusted width to be full -->
                </div>
            </div>
            <div class="w-1/3 flex items-center justify-center">
                <img src="static/images/Rectangle3.png" alt="Image 3" class="w-full h-full object-cover">
            </div>
        </div>
    </div>

    <div class="bg-white mb-20  flex flex-col justify-center items-center">
        <div class="flex justify-center items-center mt-20">
            <div class="text-5xl font-semibold text-gray-800">Reviews</div>
        </div>
        <div class="max-w-sm rounded p-4 mt-10 text-center">
            <img class=" rounded-full mx-auto mb-4" height="200" width="200" src="static/images/person.png"
                alt="Avatar of Person Watson">
            <div class="flex justify-center items-center mb-2">
                <div class="text-sm">
                    <p class="text-gray-900 leading-none">Person Watson</p>
                    <div class="flex items-center mt-1">
                        <svg class="fill-current text-[#E77450] w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20">
                            <path d="M10 15l-5.5 3 1.5-6.5L0 7h6.5L10 0l3.5 7H20l-5.5 4.5 1.5 6.5z" />
                        </svg>
                        <svg class="fill-current text-[#E77450] w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20">
                            <path d="M10 15l-5.5 3 1.5-6.5L0 7h6.5L10 0l3.5 7H20l-5.5 4.5 1.5 6.5z" />
                        </svg>
                        <svg class="fill-current text-[#E77450] w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20">
                            <path d="M10 15l-5.5 3 1.5-6.5L0 7h6.5L10 0l3.5 7H20l-5.5 4.5 1.5 6.5z" />
                        </svg>
                        <svg class="fill-current text-[#E77450] w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20">
                            <path d="M10 15l-5.5 3 1.5-6.5L0 7h6.5L10 0l3.5 7H20l-5.5 4.5 1.5 6.5z" />
                        </svg>
                        <svg class="fill-current text-[#E77450] w-4 h-4" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20">
                            <path d="M10 15l-5.5 3 1.5-6.5L0 7h6.5L10 0l3.5 7H20l-5.5 4.5 1.5 6.5z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-4xl text-[#00CCE1] text-2xl">``</p>
            </div>
            <div class=" text-gray-700 text-base">
                <p>
                    The experience from booking to walking into the office is smooth and stress-free. It's evident that
                    the team at Therapist values their patients' time and comfort.
                </p>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap m-10 justify-center">
        <div  class="w-2/6">
            <div class="flex items-center">
                <img src="static/images/image2.svg" alt="" height="100" width="100">
                <h2 class="text-3xl text-[#305141] font-bold ml-3">Services</h2>
            </div>
            <div class="ml-[80px]">
                <p class="mt-4">Discover tranquility with our therapist booking system. Effortlessly schedule sessions with certified therapists specializing in mental health and well-being. Access a diverse range of therapeutic services, from counseling to holistic healing. Simplify your journey to mental wellness with our user-friendly platform. Your path to inner peace begins here.</p>
                <div class="flex mt-4">
                    <h4 class="pr-10 text-[#E77450]">
                        <i class="fa-solid fa-circle-check"></i>
                    </h4>
                    <p>Discover tranquility with our therapist booking system. Effortlessly schedule sessions with certified therapists </p>
                </div>
                <div class="flex mt-4">
                    <h4 class="pr-10 text-[#E77450]">
                        <i class="fa-solid fa-circle-check"></i>
                    </h4>
                    <p>Discover tranquility with our therapist booking system. Effortlessly schedule sessions with certified therapists </p>
                </div>
                <div class="pl-10">
                    <button class="bg-[#E77450] text-white m-4 pl-3 pr-3 p-1 rounded-full ">
                        Our Services
                    </button>
                </div>
            </div>

        </div>
        <div class="w-3/6 items-center ml-[50px] ">
            <img src="static/images/Rectangle4.png" height="600" width="600" alt="">
        </div>
    </div>

    <footer class="bg-[#FBFBFB] dark:bg-[#FBFBFB]">
        <div class="mx-auto w-full flex flex-wrap  max-w-screen-xl p-4 m-4 py-6 lg:py-8">
            <div class="md:flex md:justify-center w-1/4">
                <div class="mb-6 md:mb-0">
                    <a href="/" class="flex items-center">
                        <img src="static/images/logo.png" class="h-10 w-[300] me-3" alt="FlowBite Logo" />
                    </a>
                    <p class="text-white-500 mt-2 dark:text-white-400 text-xs pb-2 whitespace-pre-line ">A comprehensive list of <Strong>THERAPIST</Strong>
                        service you offer.</p>
                        <h2><i class="fa-solid fa-location-dot pr-2 text-sm"></i> Kathmandu, Nepal</h2>
                        <h2><i class="fa-solid fa-envelope pr-2 text-sm"></i>Therapy@gmail.com</h2>
                        <h2><i class="fa-solid fa-phone pr-2 text-sm"></i>9879879876</h2>
                </div>
            </div>
            <div class="md:flex md:justify-center w-1/4">
                <div class="mb-6 md:mb-0  ">
                    <h1 class="font-bold text-2xl pb-5">Services</h1>
                    <h2>Online Therapy</h2>
                    <h2>Teen Therapy</h2>
                </div>
            </div>
            <div class="md:flex md:justify-center w-1/4">
                <div class="mb-6 md:mb-0  ">
                    <h1 class="font-bold text-2xl pb-5">About</h1>
                    <h2 href="#">Home</h2>
                    <h2 href="#">About us</h2>
                    <h2 href="#">Our Services</h2>
                </div>
            </div>
            <div class="md:flex md:justify-center w-1/4">
                <div class="mb-6 md:mb-0  ">
                    <h1 class="font-bold text-2xl pb-5">Newsletter</h1>
                    <h2 class="pb-4">Subscribe</h2>
                    <div class="rounded-full bg-gray-200 flex items-center">
                        <form class="flex ">
                            <input type="text" class="rounded-s-full bg-[#DCE8EB]	 px-2 py-1" placeholder="Enter your mail">
                            <button class="rounded-e-full bg-[#FFC979] text-white px-3 py-1">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-white-200 sm:mx-auto dark:border-white-700 lg:my-8" />
        </div>
    </footer>
    
</body>

</html>