<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapist Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/css/alert.css" />

    <style>
      .close:hover {
        color: red;
      }
    </style>
  </head>

  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% include 'header.html' %}
    <!-- main body -->
    <div class="container mx-auto flex flex-wrap p-8 lg:py-16">
      <!-- Increased padding here -->
      <!-- Therapist Image -->
      <div class="w-full lg:w-1/2 mb-8 lg:mb-0">
        <img
          src="{{details.image.url}}"
          class="w-full"
          alt="Therapist Image"
          style="height: 500px"
        />
      </div>
      <!-- Therapist Details -->
      <div class="w-full lg:w-1/2 flex flex-col justify-center px-4">
        <!-- Therapist Name -->
        <h2 class="text-2xl font-bold mb-4">{{details.name}}</h2>
        <!-- Personal Details -->
        <p class="text-gray-500 mb-6">{{details.description}}</p>
        <!-- Additional Details -->
        <div class="mb-6">
          <h3 class="text-lg font-semibold mb-2">Speciality</h3>
          <p class="text-gray-500">{{details.specialty}}</p>
        </div>
        <div class="mb-6">
          <h3 class="text-lg font-semibold mb-2">Fee</h3>
          <p class="text-gray-500">{{details.price}}</p>
        </div>
        <!-- Button to Open Modal -->

        {% if user.is_authenticated %}
        <a
          href="{% url 'booking' %}?therapist_id={{ details.id }}&therapist_name={{ details.name }}"
          class="col-span-2 w-[300px] text-center bg-[#E77450] text-white px-4 py-2 rounded"
        >
          Book Appointment
        </a>
        {% else %}
        <span>Please login to proceed to Book an Appointment</span>
        <a
          href="/login"
          class="col-span-2 w-[300px] text-center bg-[#E77450] text-white px-4 py-2 rounded"
          >Login</a
        >
        {% endif %}
      </div>
    </div>

    <footer class="bg-[#FBFBFB] dark:bg-[#FBFBFB]">
      <div
        class="mx-auto w-full flex flex-wrap max-w-screen-xl p-4 m-4 py-6 lg:py-8"
      >
        <div class="md:flex md:justify-center w-full lg:w-1/4">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <a href="/" class="flex items-center">
              <img
                src="static/images/logo.png"
                class="h-10 w-[300] me-3"
                alt="FlowBite Logo"
              />
            </a>
            <p
              class="text-white-500 mt-2 dark:text-white-400 text-xs pb-2 whitespace-pre-line"
            >
              A comprehensive list of <strong>THERAPIST</strong> services you
              offer.
            </p>
            <h2>
              <i class="fa-solid fa-location-dot pr-2 text-sm"></i> Kathmandu,
              Nepal
            </h2>
            <h2>
              <i class="fa-solid fa-envelope pr-2 text-sm"></i>
              Therapy@gmail.com
            </h2>
            <h2><i class="fa-solid fa-phone pr-2 text-sm"></i> 9879879876</h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">Services</h1>
            <h2>Online Therapy</h2>
            <h2>Teen Therapy</h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">About</h1>
            <h2><a href="#">Home</a></h2>
            <h2><a href="about">About us</a></h2>
            <h2><a href="services">Our Services</a></h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">Newsletter</h1>
            <h2 class="pb-4">Subscribe</h2>
            <div class="rounded-full bg-gray-200 flex items-center">
              <form class="flex">
                <input
                  type="text"
                  class="rounded-l-full bg-[#DCE8EB] px-2 py-1"
                  placeholder="Enter your mail"
                />
                <button
                  class="rounded-r-full bg-[#FFC979] text-white px-3 py-1"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
        <hr
          class="my-6 border-white-200 sm:mx-auto dark:border-white-700 lg:my-8 w-full"
        />
      </div>
    </footer>

    <script>
      document
        .getElementById("openModal")
        .addEventListener("click", function () {
          document.getElementById("myModal").classList.remove("hidden");
        });

      document
        .getElementById("closeModal")
        .addEventListener("click", function () {
          document.getElementById("myModal").classList.add("hidden");
        });

      // Handle form submission
      document
        .getElementById("propertyForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();

          // Here, you can handle the form data submission to your backend or perform any other desired actions.
          // For demonstration purposes, we'll simply log the form data to the console.

          const formData = new FormData(event.target);
          const propertyData = {};
          formData.forEach((value, key) => {
            propertyData[key] = value;
          });

          console.log("Property Data:", propertyData);

          event.target.reset();
          document.getElementById("myModal").classList.add("hidden");
        });
    </script>
    <script>
      window.addEventListener("DOMContentLoaded", function () {
        var alert = document.querySelector(".alert");
        if (alert) {
          setTimeout(function () {
            alert.style.display = "none";
          }, 3000);
        }
      });
    </script>
    <script>
      document
        .getElementById("toggleBtn")
        .addEventListener("click", function () {
          var navbar = document.getElementById("navbar-sticky");
          if (navbar.classList.contains("hidden")) {
            navbar.classList.remove("hidden");
          } else {
            navbar.classList.add("hidden");
          }
        });
    </script>
  </body>
</html>
