{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to your account</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <main class="md:flex justify-center items-center w-full h-screen mx-auto my-auto">
        <div class="md:w-[320px] w-[90%] mb-8 md:mb-0  md:mr-0">
            <img class="w-full h-auto rounded-full" src="/static/images/back2.svg" alt="">
        </div>
        <form class="flex flex-col justify-center px-5 md:px-10 w-full md:w-1/2" action="{% url 'login' %}" method="post" >{% csrf_token %}
            <h1 class="font-bold text-3xl text-center mb-5">Login to Your account here</h1>
            <input class="w-full h-[50px] mb-3 border-2 px-3 py-2 rounded-md" type="tel" name="number" id="number" placeholder="Enter your number..." required>
            <input class="w-full h-[50px] mb-3 border-2 px-3 py-2 rounded-md" type="password" name="password" id="password" placeholder="Enter your password..." required>
            <button class="bg-black text-white py-2 rounded-md" type="submit">Login</button>
            <a class="text-black-500 text-center py-2 rounded-md" href="signup" >Not a Member? click here</a>
        </form>
    </main>
</body>
</html>
