<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="md:flex justify-center items-center w-[100%] h-screen mx-auto my-auto">
        <div class="md:w-[320px] w-[90%] h-96 border-2">
            
        </div>
        <form class="flex flex-col justify-center px-10 w-1/4 min-h-96 border-2">
            <h1 class="font-bold text-3xl">Signup here...</h1>
            <input class="w-full h-[50px] mt-10 border-2 px-5 rounded-lg" type="text"  id="name" placeholder="Enter your fullname..." required>
            <input class="w-full h-[50px] mt-10 border-2 px-5 rounded-lg" type="email"  id="email" placeholder="Enter your email address..." required>
            <input class="w-full h-[50px] mt-10 border-2 px-5 rounded-lg" type="tel"  id="number" placeholder="Enter your number..." required>
            <input class="w-full h-[50px] mt-2 mb-8 border-2 px-5 rounded-lg" type="password" id="password" placeholder="Enter your password..." required>
            <button class="bg-black text-white py-2" type="submit">Signup</button>
        </form>
    </main>
</body>
</html>