<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Therapist Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}"
      style="position: fixed; top: 0; right: 0; z-index: 9999"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    {% include 'header.html' %}
    <!-- main body -->

    <div class="grid place-items-center">
      <div>
        <img src="static/images/person/person1.png" class="overlay-" alt="" />
      </div>

      <div class="text-center mt-[5vh] pb-10">
        <h1 class="text-black text-2xl font-bold whitespace-pre-line">
          What type of service are you looking for?
        </h1>
        <p class="text-center pt-4 text-xs whitespace-pre-line">
          Therapeace offers comprehensive options to meet all your mental health
          needs
        </p>
      </div>

      <div
        class="max-w-2xl bg-[#E1F0EE] rounded-lg p-4 flex items-center justify-between mb-3"
      >
        <!-- Increase the max-width to make the card wider -->
        <div class="w-5/5 text-left p-5">
          <h2 class="font-bold text-xl text-[#00354C]">Therapy</h2>
          <p class="text-xs text-[#858181]">
            Individualized support from a licensed therapist for ages 18+
          </p>
        </div>
        <div class="w-1/5 flex items-center justify-center">
          <img src="static/images/icons/icon.png" alt="" />
        </div>
      </div>
      <div
        class="max-w-2xl bg-[#F2FBCD] rounded-lg p-4 flex items-center justify-between mb-3"
      >
        <!-- Increase the max-width to make the card wider -->
        <div class="w-5/5 text-left p-5">
          <h2 class="font-bold text-xl text-[#00354C]">Therapy</h2>
          <p class="text-xs text-[#858181]">
            Individualized support from a licensed therapist for ages 18+
          </p>
        </div>
        <div class="w-1/5 flex items-center justify-center">
          <img src="static/images/icons/icon2.png" alt="" />
        </div>
      </div>
      <div
        class="max-w-2xl bg-[#E1E5F0] rounded-lg p-4 flex items-center justify-between mb-3"
      >
        <!-- Increase the max-width to make the card wider -->
        <div class="w-5/5 text-left p-5">
          <h2 class="font-bold text-xl text-[#00354C]">Therapy</h2>
          <p class="text-xs text-[#858181]">
            Individualized support from a licensed therapist for ages 18+
          </p>
        </div>
        <div class="w-1/5 flex items-center justify-center">
          <img src="static/images/icons/icon3.png" alt="" />
        </div>
      </div>
      <div
        class="max-w-2xl bg-[#F1DDDD] rounded-lg p-4 flex items-center justify-between mb-3"
      >
        <!-- Increase the max-width to make the card wider -->
        <div class="w-5/5 text-left p-5">
          <h2 class="font-bold text-xl text-[#00354C]">Therapy</h2>
          <p class="text-xs text-[#858181]">
            Individualized support from a licensed therapist for ages 18+
          </p>
        </div>
        <div class="w-1/5 flex items-center justify-center">
          <img src="static/images/icons/icon4.png" alt="" />
        </div>
      </div>
    </div>

    <footer class="bg-[#FBFBFB] dark:bg-[#FBFBFB]">
      <div
        class="mx-auto w-full flex flex-wrap max-w-screen-xl p-4 m-4 py-6 lg:py-8"
      >
        <div class="md:flex md:justify-center w-full lg:w-1/4">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <a href="/" class="flex items-center">
              <img
                src="static/images/logo.png"
                class="h-10 w-[300] me-3"
                alt="FlowBite Logo"
              />
            </a>
            <p
              class="text-white-500 mt-2 dark:text-white-400 text-xs pb-2 whitespace-pre-line"
            >
              A comprehensive list of <strong>THERAPIST</strong> services you
              offer.
            </p>
            <h2>
              <i class="fa-solid fa-location-dot pr-2 text-sm"></i> Kathmandu,
              Nepal
            </h2>
            <h2>
              <i class="fa-solid fa-envelope pr-2 text-sm"></i>
              Therapy@gmail.com
            </h2>
            <h2><i class="fa-solid fa-phone pr-2 text-sm"></i> 9879879876</h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">Services</h1>
            <h2><a href="/services">Online Therapy</a></h2>
            <h2><a href="/services">Teen Therapy</a></h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">About</h1>
            <h2><a href="/">Home</a></h2>
            <h2><a href="/about">About us</a></h2>
            <h2><a href="/services">Our Services</a></h2>
          </div>
        </div>
        <div class="md:flex md:justify-center w-full lg:w-1/4 mt-4 md:mt-0">
          <div class="mb-6 md:mb-0 text-center md:text-left">
            <h1 class="font-bold text-2xl pb-5">Newsletter</h1>
            <h2 class="pb-4">Subscribe</h2>
            <div class="rounded-full bg-gray-200 flex items-center">
              <form class="flex">
                <input
                  type="text"
                  class="rounded-l-full bg-[#DCE8EB] px-2 py-1"
                  placeholder="Enter your mail"
                />
                <button
                  class="rounded-r-full bg-[#FFC979] text-white px-3 py-1"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
        <hr
          class="my-6 border-white-200 sm:mx-auto dark:border-white-700 lg:my-8 w-full"
        />
      </div>
    </footer>
  </body>
  <script>
    window.addEventListener("DOMContentLoaded", function () {
      var alert = document.querySelector(".alert");
      if (alert) {
        setTimeout(function () {
          alert.style.display = "none";
        }, 3000);
      }
    });
  </script>
  <script>
    document.getElementById("toggleBtn").addEventListener("click", function() {
      var navbar = document.getElementById("navbar-sticky");
      if (navbar.classList.contains("hidden")) {
        navbar.classList.remove("hidden");
      } else {
        navbar.classList.add("hidden");
      }
    });
    </script>
    
</html>
